{% extends "admin/change_form.html" %}
{% block after_related_objects %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
       // Only want 'save and continue editing' if adding new.
       // Also allow 'save' if editing existing.
       // Editing can be detected by presence of #id_published
       $('input[name="_addanother"]').hide();
       if ($('#id_published').length == 0) {
           $('input[name="_save"]').hide();
       }

       $('input[name="_continue"]').click(function(ev) {
           var fname = $('#id_sermon').val();
           // Get filename component, assuming '/' or '\' might be
           // path separators.
           fname = fname.split('\\').pop().split('/').pop();
           var parts = fname.match(/^\d{4}-\d{2}-\d{2} \d{2}\d{2} .+ .+/);
           if (parts == null) {
               ev.preventDefault();
               alert("The file name is not in the required format, please rename it. Thanks!");
               return;
           }

           // Javascript's Date object is full of fail, so this is the best we
           // can reasonably do, short of an AJAX call.

       });

    });
})(django.jQuery);
</script>
{% endblock %}
