{% extends "admin/change_form.html" %}
{% block after_related_objects %}
{{ block.super }}
<script type="text/javascript">
(function($) {
    $(document).ready(function() {
       // Only want 'save and continue editing' if adding new.
       // Also allow 'save' if editing existing.
       // Editing can be detected by presence of #id_published
       $('input[name="_addanother"]').hide();
       if ($('#id_published').length == 0) {
           $('input[name="_save"]').hide();
       }

    });
})(django.jQuery);
</script>
{% endblock %}
