psycopg2>=0.7.2
south
django-cms==2.3.3
django-appmedia
django-classy-tags>=0.3.4.1
django-mptt==0.5.1
Django==1.4.5
vobject
requests
python-dateutil==1.4.1
pytz>=2010b
semanticeditor==0.3
django-pagination
mutagen>=1.19
django-easyfilters==0.3.2
django-inline-ordering==0.1.3
easy-thumbnails==1.0-alpha-17
cmsplugin_gallery==0.1.7
django-sekizai==0.6.1
fabric==1.6.0
gunicorn==0.17.4
psutil==0.7.1
