{% load adminmedia %}<!DOCTYPE html>
<html lang="en-gb">
<head>
<title>500 Internal Server Error</title>
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/base.css" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/ie.css" /><![endif]-->
<meta name="robots" content="NONE,NOARCHIVE" />
</head>
<body>

<!-- Container -->
<div id="container">


    <!-- Header -->
    <div id="header">
        <div id="branding">

<div id="header2">
	<div id="headerlogo">
	  <div id="helplink"><a href="mailto:webmaster@christchurchbradford.org.uk">Help</a></div>
	</div>
</div>

        </div>


    </div>
    <!-- END Header -->





    <!-- Content -->
    <div id="content" class="colMS">

        <h1>500 Internal Server Error</h1>

<div id="content-main">
<p>Something went wrong!  Oops. Hopefully we'll fix this soon!</p>


        <br class="clear" />
    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

</body>
</html>
