{% load cms_tags sekizai_tags %}
{% load menu_tags %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{{ request.current_page.get_title }}{% endblock %} :: Christ Church, Bradford</title>
  <meta name="keywords" content="Christ church, Bradford, church, evangelical, reformed, christchurch, Yorkshire, UK, Pollard Park">
  <link rel="StyleSheet" href="{{ STATIC_URL }}christchurch/css/style.css" type="text/css">

  {% render_block "css" %}

  {% if GOOGLE_ANALYTICS_ACCOUNT %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  {% endif %}
</head>


<body>
 {% cms_toolbar %}
  <div id="headercont">
    <div id="header">
      <div id="headertext"><a href="/">Christ Church, Bradford</a></div>
      <div id="headeraddress">2 - 4 Leyton Drive, Off Ley Fleaks Road, Bradford, BD10 8RQ</div>
      <div id="headerformerly">(Formerly: Pollard Park Evangelical Church)</div>
    </div>
  </div>
  <div id="navbarcont">
    <ul id="navbar">
      {% show_menu 0 0 0 0 %}
    </ul>
  </div>
  <div id="bodycont">
    <div id="body">
      <div id="bodyinner">
	{% block content %}
          {% placeholder "main" %}
        {% endblock %}
        <div style="clear: both; height: 1px;">&nbsp;</div>
      </div>
    </div>
    <div id="footer">
      <div id="footerinner">
	<a href="/">Home</a>
	| <a href="{% page_url "contactus" %}">Contact us</a>
      </div>
    </div>
  </div>
{% addtoblock "js" %}
  <script type="text/javascript" src="{{ STATIC_URL }}christchurch/js/jquery-1.11.2.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}christchurch/js/jquery.cycle2.min.js"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
  <script type="text/javascript">
$(document).ready(function(event) {

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = $.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    if ($('#photochanger').length > 0) {
        function addImages() {
            var list = getCookie('photocycler');
            if (list == undefined) {
                // maybe it didn't load yet
                setTimeout(addImages, 1000);
            } else {
                list = list.split('|');
                if ($('#photochanger img').length == 1) {
                    for (var i = 0; i < list.length; i++) {
                        $('#photochanger').append("<img src='/usermedia/photos/slideshow/" + list[i] +  "' alt='' />");
                    }
                }
                $('#photochanger').cycle({
                    timeout: 4000,
                    delay: -1000,
                    sync: 0
                });

            }
        }

        addImages();
    }
});
</script>
{% endaddtoblock %}

{# We have to include a bunch of javascript here due to #}
{# sekizai, which wants the js block at the bottom      #}
 
{% addtoblock "js" %}

<script type="text/javascript">
(function($) {
    $(document).ready(function () {
        if ($('#midweekmeetings').length > 0) {
            $.ajax({url:'/upcoming-midweek/',
                        success: function(data, testStatus, jqXHR) {
                            var replacement = $(data);
                            $('#midweekmeetings').fadeOut(function() {
                              $('#midweekmeetings p').replaceWith(replacement);
                              $('#midweekmeetings').fadeIn('fast');
                            });
                        }
                       });
        }

        if ($('#thissunday').length > 0) {
            $.ajax({url:'/thissunday/',
                        success: function(data, testStatus, jqXHR) {
                            var replacement = $(data);
                            $('#thissunday').fadeOut(function() {
                              $('#thissunday p').replaceWith(replacement);
                              $('#thissunday').fadeIn('fast');
                            });
                        }
                       });
        }
   });
})(jQuery);
</script>

{% endaddtoblock %}


  {% render_block "js" %}
</body>
</html>
