{% load cms_tags %}{% load menu_tags %}<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block title %}{{ request.current_page.get_title }}{% endblock %} :: Christ Church, Bradford</title>
  <meta name="keywords" content="Christ church, Bradford, church, evangelical, reformed, christchurch, Yorkshire, UK, Pollard Park">
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
  <link rel="StyleSheet" href="{{ STATIC_URL }}christchurch/css/style.css" type="text/css">

  {% plugins_media %}
  {% if GOOGLE_ANALYTICS_ACCOUNT %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  {% endif %}
</head>


<body>
  <div id="headercont">
    <div id="header">
      <div id="headertext"><a href="/">Christ Church, Bradford</a></div>
      <div id="headeraddress">2 - 4 Leyton Drive, Off Ley Fleaks Road, Bradford, BD10 8RQ</div>
      <div id="headerformerly">(Formerly: Pollard Park Evangelical Church)</div>
    </div>
  </div>
  <div id="navbarcont">
    <ul id="navbar">
      {% show_menu 0 0 0 0 %}
    </ul>
  </div>
  <div id="bodycont">
    <div id="body">
      <div id="bodyinner">
	{% block content %}
          {% placeholder "main" %}
        {% endblock %}
        <div style="clear: both; height: 1px;">&nbsp;</div>
      </div>
    </div>
    <div id="footer">
      <div id="footerinner">
	<a href="/">Home</a>
	| <a href="{% page_url "contactus" %}">Contact us</a>
      </div>
    </div>
  </div>
</body>
</html>
